@font-face {
  font-family: "t721-icons";
  src: url('t721-icons.eot?t=1589814246629'); /* IE9*/
  src: url('t721-icons.eot?t=1589814246629#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("t721-icons.woff2?t=1589814246629") format("woff2"),
  url("t721-icons.woff?t=1589814246629") format("woff"),
  url('t721-icons.ttf?t=1589814246629') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('t721-icons.svg?t=1589814246629#t721-icons') format('svg'); /* iOS 4.1- */
}

[class^="t721-icons-"], [class*=" t721-icons-"] {
  font-family: 't721-icons' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.t721-icons-arrow:before { content: "\ea01"; }
.t721-icons-calendar:before { content: "\ea02"; }
.t721-icons-check:before { content: "\ea03"; }
.t721-icons-chevron:before { content: "\ea04"; }
.t721-icons-clock:before { content: "\ea05"; }
.t721-icons-close:before { content: "\ea06"; }
.t721-icons-concert:before { content: "\ea07"; }
.t721-icons-dots:before { content: "\ea08"; }
.t721-icons-e-sport:before { content: "\ea09"; }
.t721-icons-euro:before { content: "\ea0a"; }
.t721-icons-filter:before { content: "\ea0b"; }
.t721-icons-gallery:before { content: "\ea0c"; }
.t721-icons-location:before { content: "\ea0d"; }
.t721-icons-mail:before { content: "\ea0e"; }
.t721-icons-pin-gray:before { content: "\ea0f"; }
.t721-icons-pin:before { content: "\ea10"; }
.t721-icons-right-arrow:before { content: "\ea11"; }
.t721-icons-sports:before { content: "\ea12"; }
.t721-icons-tag:before { content: "\ea13"; }
.t721-icons-tcket:before { content: "\ea14"; }
.t721-icons-upload:before { content: "\ea15"; }
